body 	{
	padding-top:50px; 
}
.polls 	{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.poll 	{
	width:25%;
	margin:20px;
}
.navbar-default{
 text-align:center;
}
h3{
text-align:center;
}