<template name="poll">
<link href='https://fonts.googleapis.com/css?family=Arimo|Bitter' rel='stylesheet' type='text/css'>
<div class="well col-md-5" data-id="{{ _id }}">
    
    <h3 class="text-center">{{ question }}</h3>
     
    {{ #each indexedArray choices }}
        <a href="#" class="vote btn btn-primary btn-block" data-id="{{ _index }}">
		   
            <span class="votes pull-right"></span>
			
            <span class="text">{{ text }}</span>
        </a>
    {{ /each }}
	
	{{#if hasVoted}}
	<h5>you voted {{myChoice}}</h5>
	{{#each indexedArray choices}}
	<h4>{{votes}} people voted {{text}}</h4>
	{{/each}}
	{{/if}}
	{{#if owner}}
    <div class="btn btn-default delete col-md-4 col-md-offset-8">Delete Poll</div>
    {{/if}}
 
</div>

</template>