.poll-form 			{
	margin-bottom:30px; 
}
.question-group 	{
	margin-bottom:20px;
	background:#EEE;
	padding:20px;
}
.question-group label 	{
	font-size:18px;
}

.poll-form{
 display:none;
  }

 .opener{
  clear:both;
  }
  
  .btext{
  display:none;
  }